//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$primary-color: #901C1C;  
$secondary-color: #D3573C;
$tertiary-color-black: #525252;
$tertiary-color-white: #FAFAfA;
$gradian-ps: linear-gradient(180deg, #FF79DA, 35%, #9356DC);
$fond-primary: #901C1C;
$fond-secondary: #FAFAfA;
$fond-tertiary: #D3573C;
$police-titre: DM Sans, Roboto; 
$police-texte: DM Sans, Roboto;