@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.three-body {
  --uib-size: 55px;
  --uib-speed: .6s;
  --uib-color: #5D3FD3;
  position: fixed;
  top: 50%;
  right: 50%;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wobble1 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}
@keyframes wobble2 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
.loader {
  --uib-size: 120px;
  position: absolute;
  top: 50%;
  right: 50%;
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #901C1C;
  border-radius: 50%;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  animation: loader-in 7s alternate;
}

.load {
  animation: loader-out 7s alternate;
  opacity: 0;
}

.content__card_img a > img, .card_img_profil a > img, .collection_photographe .card_detail__card_img a > img, .card_img a > img, .card_img1 a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__card_video video, .content__card_video a > video, .collection_photographe .card_detail__card_video video, .collection_photographe .card_detail__card_video a > video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

body {
  margin: 0px;
  padding: 20px;
  font-size: 16px;
  font-family: DM Sans, Roboto;
}

h1,
h2,
h3 {
  font-family: DM Sans, Roboto;
  color: #D3573C;
}

.play-video {
  position: absolute;
  width: 70px;
  background: rgba(136, 221, 236, 0.0823529412);
  border-radius: 10px;
  margin: 5px;
}

/* style conteneur des images*/
.card_img1 {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}
.card_img {
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 18px 18px;
  overflow: hidden;
  width: 25%;
  height: auto;
}
.ombre_box {
  box-shadow: 2px 2px 5px 0px rgba(17, 17, 17, 0.124);
}

.dim_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dim_img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection_photographe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 55px;
}
.collection_photographe .card_detail {
  width: 31%;
  height: auto;
  margin-bottom: 20px;
}
.collection_photographe .card_detail__card_img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.collection_photographe .card_detail__card_video {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.collection_photographe .card_detail__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  font-weight: 500;
}
.collection_photographe .card_detail__title h3 {
  font-size: 17px;
}
.collection_photographe .card_detail__title span {
  width: 120px;
  margin-right: 0;
  padding-right: 0;
}

.composants {
  margin: 50px;
  text-align: start;
}

.recap-detail {
  position: fixed;
  bottom: 0;
  right: 75px;
  padding: 20px 25px;
  background: #D3573C;
  font-size: 1.2em;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.recap-detail .recap-likes {
  margin-right: 30px;
}

button {
  padding: 20px 25px;
  background: #901C1C;
  font-size: 1.2em;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.prix-favories {
  color: #901C1C;
  font-weight: 500;
  font-size: 19px;
  text-align: right;
}

.card_img_profil {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 150px 150px 150px 150px;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  overflow: hidden;
}
header img {
  width: 15%;
}
header .filtre_tag_name {
  text-align: center;
  padding: 0 20px;
  width: 60%;
}
header h1 {
  width: 25%;
  color: #901C1C;
  font-weight: 400;
  font-size: 36px;
}

.tag_name {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
  color: #901C1C;
  font-weight: 500;
  font-style: normal;
  padding: 5px 7px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.484);
}

.tag_name:hover {
  background: #901C1C;
  color: white;
}

.tag_name_select {
  background: #901C1C;
  color: white;
}

.header_detail {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.header_detail img {
  width: 20%;
  margin-bottom: 20px;
}

.card_detail_photofgraphe {
  height: auto;
  padding: 20px;
  background: #FAFAfA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_detail_photofgraphe button {
  display: inline;
}
.card_detail_photofgraphe .info_photofgraphe p {
  margin: 10px;
}
.card_detail_photofgraphe .info_photofgraphe--titre {
  font-size: 43px;
  color: #D3573C;
  font-weight: 500;
}
.card_detail_photofgraphe .info_photofgraphe--localisation {
  font-size: 20px;
  color: #901C1C;
  font-weight: 500;
}
.card_detail_photofgraphe .info_photofgraphe--description {
  font-size: 15px;
  color: #525252;
}

.trie {
  display: flex;
  align-items: start;
  z-index: 1000;
  padding: 0 55px;
  margin-bottom: 35px;
}
.trie .trie_elt {
  position: relative;
}
.trie p {
  margin-top: 30px;
}

.dropdown {
  width: 150px;
  background: #901C1C;
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 10000;
}
.dropdown h1 {
  text-align: center;
  font-size: 1.5em;
}
.dropdown li a {
  text-decoration: none;
  color: white;
}
.dropdown span {
  padding: 20px 15px;
  background: #901C1C;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.dropdown span::before {
  float: right;
  right: 10%;
  content: "v";
  opacity: 1;
  rotate: 180deg;
  transition: rotate 1s opacity 1s;
}
.dropdown span:active::before {
  float: right;
  right: 10%;
  rotate: 0deg;
}
.dropdown .slide {
  margin: 0px;
  padding: 0;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  display: flex;
  flex-direction: column;
}
.dropdown .slide li {
  padding: 10px;
  margin: 0 7px;
  display: inline-block;
  border-top: 1px solid white;
}
.dropdown #touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}
.dropdown #touch:checked + .slide {
  height: auto;
}

.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.photographes .card_profil_photographe {
  padding: 20px 0;
  text-align: center;
  width: 33%;
}
.photographes .card_profil_photographe__detail {
  margin-top: 15px;
}
.photographes .card_profil_photographe__detail p {
  margin: 5px;
}
.photographes .card_profil_photographe__detail--titre {
  margin: 5px;
  font-size: 36px;
  color: #D3573C;
  font-weight: 400;
}
.photographes .card_profil_photographe__detail--localisation {
  font-size: 13px;
  color: #901C1C;
  font-weight: 400;
}
.photographes .card_profil_photographe__detail--description {
  font-size: 10px;
  font-weight: 400;
}
.photographes .card_profil_photographe__detail--prix {
  font-size: 9px;
  font-weight: 400;
  color: gray;
}
.photographes .card_profil_photographe__detail .tag_name {
  border-radius: 11px;
}

#contactez_moi,
#lightbox {
  position: fixed;
  z-index: 99900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#contactez_moi .contactez_moi__content,
#lightbox .lightbox__content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #FAFAfA;
  width: 55%;
  padding: 35px 50px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content__media {
  width: 100%;
  height: 100%;
}
.content__card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.content__card_video {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.hidden {
  display: none;
}

#lightbox .prev {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #901C1C;
  font-size: 4rem;
  cursor: pointer;
}

.heart-check {
  cursor: pointer;
}

#lightbox .next {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #901C1C;
  font-size: 4rem;
  cursor: pointer;
}

#closeLightbox {
  position: absolute;
  padding: 0px;
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 25px;
  top: 0;
  right: 0;
}

.contactez_moi_form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: #DB8876;
  font-size: 19px;
}
.contactez_moi_form .form-group {
  margin: 5px 0;
}
.contactez_moi_form .form-group label {
  color: #312E2E;
}
.contactez_moi_form .form-group textarea,
.contactez_moi_form .form-group input {
  width: 100%;
  border-radius: 5px;
  border: none;
}
.contactez_moi_form .form-group input {
  height: 35px;
}
.contactez_moi_form button {
  padding: 10px 15px;
}
.contactez_moi_form p {
  margin: 0;
  color: black;
  font-size: 37px;
  font-weight: 400;
}
.contactez_moi_form #close_contactez_moi {
  position: absolute;
  cursor: pointer;
  color: white;
  padding: 0px;
  width: 35px;
  height: 35px;
  margin: 5px;
  font-size: 60px;
  border-radius: 25px;
  top: 0;
  margin-right: 20px;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
